<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <title> Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur  </title>
  <meta name="title" content="Megalith 2023 IIT Kharagpur">
  <meta name="description" content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur">
  <meta content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="l.png" />
  <link rel="icon" href="l.png">
    <link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
      .activeupdated{
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
                     }
      #navbarSupportedContent ul li .activeupdated{
       color:blue;
      }
      @media(max-width:992px){
        .activeupdated{
          border-radius: 30px;
        }
}
.navbar-mainbg{ background-color:rgb(0,0,0,0.87);}
    </style>



</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">Information</h1>
    <p class="infop">
        Megalith furnishes you an opportunity to try something new!
                Roller coaster is an amazing structure that transforms its
                potential energy into kinetic energy through a series of crests
                and curves and thus challenges its riders for an adventure.
                Unleash the creator in you and think out of the box to create an
                excellent roller coaster according to the specifications given in
                the problem statement.
       
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">Problem Statement</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
               Teams need to make a model of a roller coaster track using basic hardware materials like
               plastic tubes,rubber tubes,cardboard and colored paper.Basically teams have to create an artificial
               nature containing mentioned list,in that teams have to make a roller coaster ride.
           </p>  <br>
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">Rules</h1>
        <br>
        <p class="rulep">

            ❖ EligibilityThe competition is open to all students enrolled in any Indian college.</p>
        <p class="rulep">
            ❖Maximum team size is 5</p>
        <p class="rulep">
            ❖ Participants can form teams from different branches, colleges, universities, and institutes.</p>
        <p class="rulep">
            ❖ No two teams must have any common member.</p>
        <p class="rulep">
            ❖ Teams are not allowed to touch their model once the ride begins.</p>

        <p class="rulep">
            ❖Time limit for the completion is 180 minutes</p>

        <p class="rulep">
            ❖ The decision of the judges shall be final</p>

        <p class="rulep">
            ❖ Any coaster that violates the rule above or the spirit of the competition will be disqualified.</p>
        

    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> Prize</h1>
        <p class="prizp">
            TOTAL - 16000
        
        </p>
    </div>
  </div>
</div>
</body>
</html>