<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <title> Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur  </title>
  <meta name="title" content="Megalith 2023 IIT Kharagpur">
  <meta name="description" content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur">
  <meta content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="l.png" />
  <link rel="icon" href="l.png">
    <link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
      .activeupdated{
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
                     }
      #navbarSupportedContent ul li .activeupdated{
       color:blue;
      }
      @media(max-width:992px){
        .activeupdated{
          border-radius: 30px;
        }
}
.navbar-mainbg{ background-color:rgb(0,0,0,0.87);}
    </style>


</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">Information</h1>
    <p class="infop">
        
      A bridge is a structure built to span physical obstacles without closing the way underneath such as a body of water, valley, or road, to provide passage over the obstacle. There are many different designs that each serve a particular purpose and apply to different situations. The design of bridges varies depending on the function of the bridge, the
      nature of the terrain where the bridge is constructed and anchored, the material used to make it, and the funds available to build it.
      
       
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">Problem Statement</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
              A Truss Bridge is a bridge whose load-bearing superstructure is composed of a truss, a structure of connected elements usually forming triangular units. The connected elements (typically straight) may be stressed from tension, compression, or sometimes both in response to dynamic loads. Truss is used because it is a very rigid structure that transfers
              the load from a single point to a much wider area. A Truss Bridge is designed to distribute weight through different beams within triangular shapes. This is done so that the tension is distributed to the middle of the bridge and the compression to the ends of the bridge.
              Where other bridges such as beam and arch bridges may not be viable, truss bridges come into their own. They can span great lengths, often used in hazardous locations such as deep ravines between mountaintops.
              
           </p>  <br>
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">Rules</h1>
        <br>
        <p class="rulep">
        </p>

    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> Prize</h1>
        <p class="prizp">
            Total-10000 </p>
    </div>
  </div>
</div>
</body>
</html>