<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <title> Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur  </title>
  <meta name="title" content="Megalith 2023 IIT Kharagpur">
  <meta name="description" content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur">
  <meta content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="l.png" />
  <link rel="icon" href="l.png">
    <link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
      .activeupdated{
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
                     }
      #navbarSupportedContent ul li .activeupdated{
       color:blue;
      }
      @media(max-width:992px){
        .activeupdated{
          border-radius: 30px;
        }
}
.navbar-mainbg{ background-color:rgb(0,0,0,0.87);}
    </style>


</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">Information</h1>
    <p class="infop">
        Terramind is a revolutionised Style of conducting quizzing
events, testing the knowledge of participants in various
disciplines of civil engineering , namely. It is an on the spot
event which provides best opportunity for
Geeks and the quizzing geniuses to test their
knowledge and challenge their quick thinking. Quiz will be
conducted at the event venue in two levels due to high
participation from Students.
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">Problem Statement</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
                It is the on the spot event . So problem statement will be released at the time of event.

           </p>  <br>
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">Rules</h1>
        <br>
        <p class="rulep">

            ❖ Rules and Regulations will be told on the spot.
        </p>

    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> Prize</h1>
        <p class="prizp">
            TOTAL - 10000
        </p>
    </div>
  </div>
</div>
</body>
</html>