<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <title> Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur  </title>
  <meta name="title" content="Megalith 2023 IIT Kharagpur">
  <meta name="description" content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur">
  <meta content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="l.png" />
  <link rel="icon" href="l.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Merienda:wght@600&family=Kalam&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


<style>
      .activeupdated{
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
                     }
      #navbarSupportedContent ul li .activeupdated{
       color:blue;
      }
      @media(max-width:992px){
        .activeupdated{
          border-radius: 30px;
        }
}
.navbar-mainbg{ background-color:rgb(0,0,0,0.87);}
    </style>

</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">INFORMATION</h1>
    <p class="infop">
        It is an on-thespot event in which participants are given a problem statement
        related to civil engineering challenges.
         They need to formulate an efficient algorithm to solve it. It seeks
        high participation from students of civil engineering as well from
        other departments including computer science which provides
        maximum opportunity to increase outreach to companies.
       
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">PROBLEM STATEMENT</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
                It is the on the spot event . So problem statement will be released at the time of event.
           </p>  <br>
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">RULES</h1>
        <br>
        <p class="rulep">

            ❖The event is open to individual participants only.</p>
        <p class="rulep">
            ❖Only C, C++, and Python are allowed.
        </p>
        <p class="rulep">
            ❖ Time Limit - 3 hours.</p>
        <p class="rulep">
            ❖Any submission after the given time would not be considered.
        </p>
        <p class="rulep">
            ❖You would be directly disqualified if plagiarism was detected at any point in time.
        </p>

        <p class="rulep">
            ❖ The decision of the judges would be final and binding.</p>

        <p class="rulep">
            ❖Hardcoding is not allowed</p>
        <h1 class="ruleh1">Judging and Results</h1>

        <p class="rulep">
            ❖ Sample test case: 20% marks [Directly printing the output would be given 0 marks]
        </p>
        <p class="rulep">
            ❖ Hidden test Case: 80% marks</p>
        <p class="rulep">

            ❖ If no test case is passed partial marks would be given based on the code.</p>
        <p class="rulep">


    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> PRIZE</h1>
        <p class="prizp">
            TOTAL - 10000
        </p>
    </div>
  </div>
</div>
</body>
</html>